POSTGRES_USER=REPLACE_ME
POSTGRES_PASSWORD=REPLACE_ME
POSTGRES_DB=postgres

KEYCLOAK_DB=keycloak
KEYCLOAK_USER=REPLACE_ME
KEYCLOAK_PASSWORD=REPLACE_ME

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=myrealm
